@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: $colorModalBg;
  line-height: 1.3;
  position: relative;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  font-style: normal;
  color: inherit;
  text-decoration: none;
  outline: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

a:focus,
a:hover {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 100%;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding: 0 32px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
  }
}

// /* полоса прокрутки (скроллбар) /
::-webkit-scrollbar {
  width: 12px;
  height: 8px;
  border: 1px solid rgba(0, 0, 0, 0.237);
  background-color: transparent;
}

// / ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.661);
  border-radius: 10px;
  box-shadow: inset 1px 1px 5px $colorTextDark;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ff6b08;
}

// ::-webkit-scrollbar {
//   width: 11px;
//   height: 200px;
// }
// ::-webkit-scrollbar-thumb {
//   background: #0080ff;
//   border: 0px none #ffffff;
//   border-radius: 50px;
//   background: -webkit-gradient(
//     linear,
//     left top,
//     left bottom,
//     color-stop(1, #ff8a16),
//     color-stop(0.79, #ffae5e),
//     color-stop(0.51, #ff8916),
//     color-stop(0.41, #ff9d3d),
//     color-stop(0, #ffb268)
//   );
//   background: -webkit-linear-gradient(
//     top,
//     #ffb268 0%,
//     #ff9d3d 41%,
//     #ff8916 51%,
//     #ffae5e 79%,
//     #ff8a16 100%
//   );
//   background: -moz-linear-gradient(
//     top,
//     #ffb268 0%,
//     #ff9d3d 41%,
//     #ff8916 51%,
//     #ffae5e 79%,
//     #ff8a16 100%
//   );
//   background: -o-linear-gradient(
//     top,
//     #ffb268 0%,
//     #ff9d3d 41%,
//     #ff8916 51%,
//     #ffae5e 79%,
//     #ff8a16 100%
//   );
//   background: -ms-linear-gradient(
//     top,
//     #ffb268 0%,
//     #ff9d3d 41%,
//     #ff8916 51%,
//     #ffae5e 79%,
//     #ff8a16 100%
//   );
//   background: linear-gradient(
//     to bottom,
//     #ffb268 0%,
//     #ff9d3d 41%,
//     #ff8916 51%,
//     #ffae5e 79%,
//     #ff8a16 100%
//   );
// }
// ::-webkit-scrollbar-thumb:hover {
//   background: #ff9615;
// }
// ::-webkit-scrollbar-thumb:active {
//   background: #904f00;
// }
// ::-webkit-scrollbar-track {
//   background: #e2e2e2;
// }
// ::-webkit-scrollbar-corner {
//   background: transparent;
// }

// ::-webkit-scrollbar-button кнопки на полосе прокрутки (стрелки, указывающие вверх и вниз).
// ::-webkit-scrollbar-track дорожка (индикатор выполнения) полосы прокрутки.
// ::-webkit-scrollbar-track-piece дорожка (индикатор выполнения) не покрывается ручкой.
// ::-webkit-scrollbar-corner нижний угол полосы прокрутки, где встречаются как горизонтальные, так и veritcal полосы прокрутки.
// ::-webkit-resizer Перетаскивание маркера изменения размера, который отображается в нижнем углу некоторых элементов.

// #NotiflixNotifyWrap {
//   position: absolute;
//   top: 195px;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   inset: none !important;
//   //   @media screen and (max-width: 1024px) {
//   //     inset: 154px 375px auto !important;
//   //   }
//   //   @media screen and (max-width: 769px) {
//   //     inset: 154px 260px auto !important;
//   //   }
//   //   @media screen and (max-width: 568px) {
//   //     inset: 154px 144px auto !important;
//   //     width: 356px !important;
//   //   }
//   //   @media screen and (max-width: 426px) {
//   //     inset: 154px 86px auto !important;
//   //     width: 356px !important;
//   //   }
//   //   @media screen and (max-width: 320px) {
//   //     inset: 154px 45px auto !important;
//   //   }
//   //   margin: 0 auto !important;
// }

// #NotiflixNotifyWrap > div.nx-with-animation.nx-from-right {
//   // display: flex !important;
//   // justify-content: center !important;
//   // align-items: center !important;
//   margin: 0 auto !important;
// }

// .notiflix-notify .nx-message-icon {
//   display: none;
// }

// #NotiflixNotifyWrap > div > span.nx-with-icon {
//   text-align: center;
//   margin: 0;
//   padding: 0;
// }

// #NotiflixNotifyWrap > div > span.nx-with-icon {
//   @media screen and (max-width: 1024px) {
//     width: calc(100% - 121px);
//   }
//   @media screen and (max-width: 769px) {
//     width: calc(100% - 114px);
//   }
//   @media screen and (max-width: 320px) {
//     width: calc(100% - 84px);
//   }
// }
