.container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 100%;

  @include mobile {
    max-width: 480px;
  }

  @include tablet {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @include desktop {
    max-width: 1280px;
  }
}
