// BACKGROUND COLORS

$colorBgLightMain: #e5e5e5;
$colorBgAccentPagination: #ff6b08;
$colorBgAccentDetails: #ff6b01;
$colorModalBg: #ffffff;
$colorModalBgSecondary: #f7f7f7;

//TEXT COLORS

$colorTextLight: #ffffff;
$colorTextDark: #000000;
$colorTexSecondary: #545454;
$colorTextAccent: #ff6b08;
$colorTextAccentCurrent: #ff001b;
$colorModalTextSecondary: #8c8c8c;

//BUTTONS COLORS

$colorBtnAccent: #ff6b02;
$colorBtnAccentSecondary: #ff6b08;
$colorBtnLight: #ffffff;
