<footer class="footer-section">
    <div class="footer-container container">
        <p class="footer-text">
            &#169; 2023 | All Rights Reserved | 
            <br class="footer__gap">
            Developed with
            <span class="footer__icon">
                <svg class="footer__icon-heart" width="14px" height="12.88px">
                    <use href="/src/images/svg/symbol-defs.svg#icon-heart"></use>
                </svg>
            </span>
            by
            <a href="#" class="footer__link">GoIT Students</a>
    </div>
</footer>
