<header class="header overlay">
  <div class="container">
    <nav class="header-nav">
      <a href="./index.html" class="logo nav-link">
        <svg class="logo-icon" width="24" height="24">
          <use href="./images/svg/symbol-defs.svg#icon-film"></use>
        </svg>
        <div class="content">
          <span class="nav-title logo-title">Filmoteka</span>
          <span class="nav-title logo-title">Filmoteka</span>
        </div>
      </a>
      <ul class="nav-list">
        <li class="header-list__item">
          <button class="darktheme__button toggle-darktheme-btn">🌙</button>
        </li>
        <li>
          <a href="./index.html" class="nav-list-item">Home</a>
        </li>
        <li>
          <a href="./library-page.html" class="nav-list-item current"
            >my library</a
          >
        </li>
      </ul>
    </nav>
    <div class="header-buttons">
      <button class="header-button js-watched is-active" type="button">
        Watched
      </button>
      <button class="header-button js-queue" type="button">queue</button>
    </div>
  </div>
</header>
