<header class="header">
  <div class="container">
    <nav class="header-nav"></nav>
      <a href="./index.html" class="nav-link">
        <svg class="logo-icon" width="24" height="24">
          <use></use>
        </svg>
        <span class="nav-title">Filmoteka</span>
      </a>
        <ul class="nav-list">
          <li>
            <a href="./index.html" class="nav-list-item">Home</a></li>
          <li><a href="" class="nav-list-item">Library</a></li>
        </ul>
      </nav>
      <form class="header-form">
        <input class="header-form-input" type="text" name="searchQuery" placeholder="Movie search" autocomplete="off"/>
        <button type="submit">
          <svg class="search-icon" width="12" height="12">
            <use></use>
          </svg>
        </button>
      </form>
    </div>
  </div>
</header>
