<header class="header overlay">
  <div class="container">
    <nav class="header-nav">
      <a href="./index.html" class="logo nav-link">
        <svg class="logo-icon" width="24" height="24">
          <use href="./images/svg/symbol-defs.svg#icon-film"></use>
        </svg>
        <div class="content">
          <span class="nav-title logo-title">Filmoteka</span>
          <span class="nav-title logo-title">Filmoteka</span>
        </div>
      </a>
      <ul class="nav-list">
        <li class="header-list__item">
          <button class="darktheme__button toggle-darktheme-btn">🌙</button>
        </li>
        <li>
          <a href="./index.html" class="nav-list-item">Home</a>
        </li>
        <li id="library">
          <a href="./library-page.html" class="nav-list-item current"
            >My Library</a
          >
        </li>
        <li class="" id="auth_form">
          <button class="google-btn" id="googleLogin">
            <div class="google-icon-wrapper">
              <img
                class="google-icon"
                src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"
              />
            </div>
            <p class="btn-text"><b>Sign in with google</b></p>
          </button>
        </li>
        <li id="logout">
          <a href="#" class="nav-list-item">Logout</a>
        </li>
      </ul>
    </nav>
    <span class="userInfo"></span>
    <div class="header-buttons">
      <button class="header-button js-watched is-active" type="button">
        Watched
      </button>
      <button class="header-button js-queue" type="button">queue</button>
    </div>
  </div>
</header>
