<header class="header">
  <div class="container">
    <div class="header-wrap">
      <a href="" class="logo-icon">
        <svg class="logo-icon">
          <use></use>
        </svg>
      </a>
      <p>Filmoteka</p>
      <nav>
        <ul>
          <li><a href="" class="main-page"></a>Home</li>
          <li><a href="" class="library-page"></a>Library</li>
        </ul>
      </nav>
      <form action="">
        <input type="text" />
        <button type="submit">Search</button>
      </form>
    </div>
  </div>
</header>
