<header class="header overlay">
  <div class="container">
    <nav class="header-nav">
      <a href="./index.html" class="logo nav-link">
        <svg class="logo-icon" width="24" height="24">
          <use href="./images/svg/symbol-defs.svg#icon-film"></use>
        </svg>
        <span class="nav-title logo-title">Filmoteka</span>
      </a>
      <ul class="nav-list">
        <li>
          <a href="./index.html" class="nav-list-item">Home</a>
        </li>
        <li>
          <a href="./library-page.html" class="nav-list-item current"
            >my library</a
          >
        </li>
      </ul>
    </nav>
    <ul class="header-buttons">
      <li class="header-buttons_watched">
        <button class="header-button" type="button">Watched</button>
      </li>
      <li class="header-buttons_queue">
        <button class="header-button" type="button">queue</button>
      </li>
    </ul>
  </div>
</header>
