<main>
  <section class="library_films">
    <h1 class="visually-hidden">My Library</h1>
    <div class="library_films-container container">
      <ul class="library_films-list js-library_films-list">
        <li class="library_films-item"></li>
        <li class="library_films-item"></li>
        <li class="library_films-item"></li>
        <li class="library_films-item"></li>
        <li class="library_films-item"></li>
        <li class="library_films-item"></li>
        <li class="library_films-item"></li>
        <li class="library_films-item"></li>
      </ul>
    </div>
  </section>
</main>
