<main>
  <section class="section">
    <h1 class="visually-hidden">My Library</h1>
    <div class="container">
      <div class="no-watched">
        <img
          class="no-watched-img"
          src="./images/no-watched/no-watched.png
        "
          alt="no-watched"
        />
        <p class="no-watched-text">Don't have movies? Hamster is shocked!</p>
        <a href="./index.html" class="no-watched-btn">Choose movie</a>
      </div>

      <ul class="film-gallery js-library_gallery">
        <li class="film-item"></li>
        <li class="film-item"></li>
        <li class="film-item"></li>
        <li class="film-item"></li>
        <li class="film-item"></li>
        <li class="film-item"></li>
        <li class="film-item"></li>
        <li class="film-item"></li>
      </ul>
    </div>
  </section>
</main>
