<main>
  <section class="section">
    <h1 class="visually-hidden">My Library</h1>
    <div class="container">
      <img
        class="no-watched"
        src="./images/no-watched/no-watched.jpg
      "
        alt="no-watched"
      />

      <ul class="film-gallery js-library_gallery">
        <li class="film-item"></li>
        <li class="film-item"></li>
        <li class="film-item"></li>
        <li class="film-item"></li>
        <li class="film-item"></li>
        <li class="film-item"></li>
        <li class="film-item"></li>
        <li class="film-item"></li>
      </ul>
    </div>
  </section>
</main>
