<section class="section">
    <h1 class="visually-hidden">Film Gallery</h1>
    <div class="container">
        <ul class="film-gallery">
            <li class="film-item">
  
            </li>
            <li class="film-item">
  
            </li>
            <li class="film-item">
  
            </li>
            <li class="film-item">
  
            </li>
            <li class="film-item">
  
            </li>
            <li class="film-item">
  
            </li>
        </ul>
    </div>
  </section>
  