<main>
  <section class="section">
    <h1 class="visually-hidden">Film Gallery</h1>
    <div class="container">
      <ul class="film-gallery js-film-gallery">
        <li class="film-item">
          <div class="thumb">
            <img
              src="./images/t6HIqrRAclMCA60NsSmeqe9RmNV.jpg"
              alt="film"
              class="film-label"
            />
          </div>
          <div>
            <p class="film-title">Avatar: The Way of Water</p>
            <p class="film-genre">Science Fiction, Adventure | 2022</p>
          </div>
        </li>
        <li class="film-item"></li>
        <li class="film-item"></li>
        <li class="film-item"></li>
        <li class="film-item"></li>
        <li class="film-item"></li>
      </ul>
    </div>
  </section>
</main>
