<!-- <div class="backdrop visually-hidden js-spinner">
  <div
    aria-label="Orange and tan hamster running in a metal wheel"
    role="img"
    class="wheel-and-hamster"
  >
    <div class="wheel"></div>
    <div class="hamster">
      <div class="hamster__body">
        <div class="hamster__head">
          <div class="hamster__ear"></div>
          <div class="hamster__eye"></div>
          <div class="hamster__nose"></div>
        </div>
        <div class="hamster__limb hamster__limb--fr"></div>
        <div class="hamster__limb hamster__limb--fl"></div>
        <div class="hamster__limb hamster__limb--br"></div>
        <div class="hamster__limb hamster__limb--bl"></div>
        <div class="hamster__tail"></div>
      </div>
    </div>
    <div class="spoke"></div>
  </div>
</div> -->

<button class="btn" type="button">кнопка</button>

<div class="backdrop visually-hidden js-modal modal-container">
  <div class="modal-movie">
    <div class="movie-thumb">
      <img
        class="movie-img"
        src="./images/svg/no-photo/no-photo.jpg"
        alt="hamster"
      />
    </div>
    <div class="movie-wrap">
      <h2 class="movie-title">A FISTFUL OF LEAD</h2>
      <div class="movie-info">
        <ul class="movie-info-list">
          <li class="movie-info-item">
            <p class="movie-info-text">Vote / Votes</p>
            <p class="movie-info-value"><span>7.3</span> 1260</p>
          </li>
          <li class="movie-info-item">
            <p class="movie-info-text">Popularity</p>
            <p class="movie-info-value">100.2</p>
          </li>
          <li class="movie-info-item">
            <p class="movie-info-text">Original Title</p>
            <p class="movie-info-value">A FISTFUL OF LEAD</p>
          </li>
          <li class="movie-info-item">
            <p class="movie-info-text">Genre</p>
            <p class="movie-info-value">Western</p>
          </li>
        </ul>
        <h3 class="mobie-about">About</h3>
        <p class="movie-desc">
          Four of the West’s most infamous outlaws assemble to steal a huge
          stash of gold from the most corrupt settlement of the gold rush towns.
          But not all goes to plan one is killed and the other three escapes
          with bags of gold hide out in the abandoned gold mine where they
          happen across another gang of three – who themselves were planning to
          hit the very same bank! As tensions rise, things go from bad to worse
          as they realise the bags of gold are filled with lead... they’ve been
          double crossed – but by who and how?
        </p>
        <div class="movie-btn-wrap">
          <button data-movie="watched" class="movie-btn" type="button">
            add to Watched
          </button>
          <button data-movie="queue" class="movie-btn" type="button">
            add to queue
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
