//HEADER-LIBRARY
.header-button{
  box-sizing: border-box;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  text-align: center;
  text-transform: uppercase;
  color: $colorBtnLight;

  border: 1px solid $colorBtnLight;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;

  color: #FFFFFF;

  width: 130px;
  height: 44px;
  &:hover,
  &:focus {
    background-color: $colorBtnAccent;
    border: none;
  }
  @include tablet{
      width: 152px;
      height: 44px;
  }
}


//MODAL BOX

.lightbox-modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  z-index: 10;
  background-color: transparent;
  border: none;
  color: $colorTextDark;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  :focus {
    transform: scale(1.2);
  }
}

.lightbox-modal__trailer {
  position: absolute;
  bottom: 12px;
  left: 12px;
  width: 100px;
  height: 44px;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 6px;
  border: none;
  background-color: $colorBtnAccent;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 1;
  color: $colorModalBg;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}

.lightbox-modal__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 44px;
  margin-right: 20px;
  padding: 6px;
  border-radius: 5px;
  text-transform: uppercase;
  background-color: transparent;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: none;
    background-color: $colorBtnAccent;
    color: $colorModalBg;
    transform: scale(1.1);
  }
}

//MAIN PAGE

logo {
  stroke: $colorModalBg;

  &:hover,
  &:focus {
    stroke: $colorBtnAccent;
  }
}

.nav-list {
  display: flex;
}

.nav-list-item {
  position: relative;

  &:hover,
  &:focus {
    background-color: $colorBtnAccent;
    border: none;
  }
}

.current {
  position: relative;
  display: block;

  &::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    transform: translateY(1px);
    display: block;
    width: 100%;
    height: 3px;
    border: none;
    background-color: $colorTextAccentCurrent;
    transition: width 0.2s ease-in-out;
  }

  &:hover::after,
  &:focus::after {
    width: 0;
  }
}

//PAGINATION

.page-button {
  width: 148px;
  height: 42px;
  border: 1px solid transparent;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  cursor: pointer;
  color: $colorBtnLight;
  border-color: $colorBtnLight;
  background-color: transparent;

  &:first-child {
    margin-right: 16px;
  }

  &:hover,
  &:focus {
    background-color: $colorBtnAccent;
    border: none;
  }
}
