// .film-gallery {
//   list-style: none;
//   margin: 0;
//   padding: 0;
//   display: flex;

//   @media screen and (max-width: 767.9px) {
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//   }

//   @media screen and (min-width: 768px) {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: center;
//     // margin: -15px;
//   }
// }

// .film-item {
//   cursor: pointer;
//   transform: scale(1);
//   transition: transform 250ms linear;

//   @media screen and (max-width: 767px) {
//     &:not(:last-child) {
//       margin-bottom: 20px;
//     }
//   }
//   @media screen and (min-width: 768px) {
//     margin: 15px;
//     flex-basis: calc((100% - 2 * 30px) / 2);
//   }
//   @media screen and (min-width: 1280px) {
//     flex-basis: calc((100% - 3 * 30px) / 3);
//   }
// }

.film-item:hover,
.film-item:focus {
  transform: scale(1.03);
}

.film-item img {
  border-radius: 5px;
  margin-bottom: 10px;
  width: 276px;
  height: 402px;
  @media screen and (min-width: 768px) {
    width: 336px;
    height: 455px;
  }
  @media screen and (min-width: 1280px) {
    width: 395px;
    height: 574px;
  }
}

.film-item img:hover {
  display: block;
  box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.5);
}

.film-title,
.film-genre {
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 1.2;
  }
}

.film-genre {
  display: flex;
  color: #ff6b08;
}

.film-genre:hover img {
  transition: transform 300ms ease-in-out;
  transform: scale(1.1);
}
