.container {
  padding: 20px;
}

.film-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, max-content));
  grid-gap: 20px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.film-item {
  cursor: pointer;
}

.film-item:hover,
.film-item:focus {
  transform: scale(1.03);
}

// .thumb {
//   height: 398px;
//   width: 280px;
//   overflow: hidden;

//   @media screen and (min-width: 768px) {
//     width: 294px;
//   }
//   @media screen and (min-width: 1024px) {
//     width: 274px;
//   }
// }

img {
  border-radius: 5px;
  object-fit: cover;
  height: 455px;

  box-shadow: rgb(0 0 0 / 7%) 0px 1px 2px, rgb(0 0 0 / 7%) 0px 2px 4px,
    rgb(0 0 0 / 7%) 0px 4px 8px, rgb(0 0 0 / 7%) 0px 8px 16px,
    rgb(0 0 0 / 7%) 0px 16px 32px, rgb(0 0 0 / 7%) 0px 32px 64px;

  &:hover,
  &:focus {
    transform: scale(1.01);
  }
}

img:hover {
  display: block;
  box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.5);
}

.film-title,
.film-genre {
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  padding: 1px 5px;

  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 1.2;
  }
}

.film-genre {
  display: flex;
  color: #ff6b08;
}

.film-genre:hover img {
  transition: transform 300ms ease-in-out;
  transform: scale(1.1);
}
