.go-top {
  padding: 0;
  position: fixed;
  right: 50px;
  top: 80%;
  transform: translateY(-20%);
  font-size: 40px;
  cursor: pointer;
  background-color: transparent;
  display: none;
  transition: transform 300ms linear;
  @media screen and (max-width: 426px) {
    right: 5px;
    top: 70%;
  }
}

.go-top--show {
  display: block;
}

.go-top:focus,
.go-top:hover {
  transform: scale(1.01);
}

.go-top-img {
  width: 70px;
  height: 70px;
}
