.go-top {
  position: fixed;
  right: 25px;
  bottom: 25px;
  z-index: 1;

  display: none;
  padding: 0;
  font-size: 40px;

  cursor: pointer;
  background-color: transparent;
  transform: translateY(-20%);
  transition: transform 300ms linear;
}

.go-top--show {
  display: block;
}

.go-top:focus,
.go-top:hover {
  transform: scale(1.01);
}

.go-top-img {
  width: 70px;
  height: 70px;
}
