.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  stroke: $colorTextLight;
  transition: transform 300ms linear;

  @include tablet {
    height: 35px;
    gap: 10px;
  }

  &:hover {
    transform: scale(1.1);
    text-shadow: 0 10px 30px rgba(222, 156, 151, 0.3);
  }
}

// Анімація-хвиля для надпису Filmoteka

.content {
  transform: translateY(2px);
  display: none;
  @include tablet {
    display: block;
    position: relative;
  }
}

.content span {
  color: $colorTextLight;
  font-size: 3em;
  position: absolute;
  left: 80px;
  transform: translate(-50%, -50%);
}

.content span:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px $colorTextLight;
}

.content span:nth-child(2) {
  color: $colorTextDark;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

// Анімація-обертання для логотипу

.logo-icon {
  stroke: inherit;
}

.logo-icon {
  animation: 1s linear 0s normal none infinite running rot;
  -webkit-animation: 2s linear 0s normal none infinite running rot;
  animation-iteration-count: 1;
}

@keyframes rot {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}

@-webkit-keyframes rot {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}
