.modal-movie {
  padding: 48px 20px 40px 20px;
  margin: 20px auto;
  width: 280px;
  background-color: $colorModalBg;

  @include tablet {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 68px;
    padding: 40px 72px 40px 36px;
    margin: 0 auto;
    width: 704px;
  }

  @include desktop {
    width: 806px;
    gap: 16px;
    padding: 40px 12px;
  }
}

.movie-thumb {
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 20px;

  @include tablet {
    margin-bottom: 0;
  }
}

.movie-img {
  width: 240px;
  height: 357px;

  @include tablet {
    width: 264px;
    height: 374px;
  }

  @include desktop {
    width: 375px;
    height: 478px;
  }
}

.movie-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 20px;

  color: $colorTextDark;

  @include desktop {
    font-size: 30px;
  }
}

.movie-list-wrap {
  display: flex;
  gap: 40px;
  margin-bottom: 20px;

  @include desktop {
    gap: 80px;
  }
}

.movie-info-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.movie-info-text {
  font-weight: 500;
  line-height: 1.33;
  color: $colorModalTextSecondary;
}

.movie-info-value {
  font-weight: 500;
  line-height: 1.33;

  color: $colorTextDark;
}

.movie-info-rating {
  color: $colorTextLight;
  background-color: $colorTextAccent;
  padding: 1px 10px;
  border-radius: 5px;
}

.movie-info-slash {
  color: $colorModalTextSecondary;
}

.mobie-about {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;

  color: $colorTextDark;
}

.movie-desc {
  margin-bottom: 20px;
  font-weight: 500;
  line-height: 1.67;

  color: $colorTextDark;

  @include tablet {
    width: 264px;
  }

  @include desktop {
    width: 391px;
  }
}

.movie-btn-wrap {
  display: flex;
  gap: 20px;

  @include tablet {
    gap: 15px;
  }
}

.movie-btn {
  font-weight: 500;
  line-height: 1.33;
  text-transform: uppercase;
  background-color: $colorModalBg;
  border: 1px solid $colorTextDark;
  color: $colorTextDark;
  border-radius: 5px;
  height: 44px;
  width: 110px;
}