.backdrop-team {
  width: 100%;
  height: 100%;
}

.modal-team {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  overflow: auto;
  max-height: 80%;
  padding: 20px 30px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms linear;
}

.modal-team-close {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms linear, transform 250ms linear;
  @include mobile {
    right: 8px;
    top: 8px;
  }
  @include desktop {
    right: 16px;
    top: 16px;
  }
}

.modal-team-close:hover,
.modal-team-close:focus {
  transform: rotate(90deg);
  fill: $colorTextAccent;
}

.team-close {
  display: inline-block;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  .modal-team {
    transform: translate(-50%, -50%) scale(0);
  }
}

.modal-team-title {
  margin-bottom: 30px;
  text-align: center;
  font-size: 18px;
  color: $colorTextAccent;
  text-transform: uppercase;
  @include tablet {
    font-size: 25px;
  }
  @include desktop {
    font-size: 30px;
  }
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0 auto;
  justify-content: center;
  @include desktop {
  }
}

.team-photo {
  display: block;
  height: 180px;
  width: 120%;
  object-fit: cover;
}

.team-name {
  text-align: center;
  font-size: 15px;
  flex-direction: column;
  margin-top: 10px;
}

.team-position {
  text-align: center;
  color: $colorTextAccent;
  font-weight: 500;
  margin-bottom: 10px;
}

.team-list-item {
  width: 120px;
  height: auto;
  transition: transform 300ms linear, box-shadow 300ms linear;
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0);
  border-radius: 5px;
  @include desktop {
    width: 150px;
  }
  &:hover,
  &:focus {
    transform: scale(1.01) rotate(0.5deg);
    box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.4);
  }
}

.soc-icon {
  fill: $colorTexSecondary;
  display: inline-flex;
  object-fit: contain;

  &:hover,
  &:focus {
    fill: $colorTextAccent;
  }
}

.soc-links {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

// .github-info {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

.no-scroll {
  overflow: hidden;
}
