.footer-section {
  padding-top: 29px;
  padding-bottom: 30px;
  background-color: #f7f7f7;
  @media screen and (min-width: 768px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.footer-container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: 768px) {
    padding: 0px;
  }
  @media screen and (max-width: 320px) {
    width: 100%;
  }
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  @media screen and (min-width: 1280px) {
    width: 1280px;
  }
}

.footer-text {
  text-align: center;
  color: #545454;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  margin: 0;
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.19;
  }
}

.footer__gap{
    @media screen and (min-width: 768px) {
        display: none;
    }
}

.footer__icon {
  margin-left: 10px;
  margin-right: 10px;
}
// .footer__icon-heart {
//   animation: ;
// }

.footer__link {
  color: inherit;
  text-decoration: underline;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__link:hover,
.footer__link:focus {
  color: #ff6b08;
}