.header {
  position: relative;
  padding-top: 40px;
  padding-bottom: 62px;

  @include tablet {
    padding-bottom: 60px;
  }
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 60px;

  @include tablet {
    margin-bottom: 40px;
  }
}

.nav-list {
  display: flex;
  gap: 39px;
}

.nav-list-item {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: #ff001b;
    position: absolute;
    bottom: -4px;
    transform: scaleX(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:hover::after,
  &:focus::after {
    transform: scaleX(1);
  }
}

.header-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  @include tablet {
    gap: 32px;
  }
  
  @include desktop {
    gap: 16px;
  }
}

.overlay {
  //   height: 216px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url('../images/header/library-header-mob.jpg');

  @include tablet {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header/library-header-tab.jpg');
  }

  @include desktop {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header/library-header-desk.jpg');
  }

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
