.header {
  padding-top: 40px;
  padding-bottom: 62px;
  @include tablet {
    padding-bottom: 60px;
  }
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
  @include tablet {
    margin-bottom: 40px;
  }
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  @include tablet {
    height: 35px;
    gap: 10px;
  }
}
.logo-title {
  display: none;
  @include tablet {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 30px;
    line-height: 1.67;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
  }
}

.nav-list {
  display: flex;
  gap: 39px;
}

.nav-list-item {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: #ff001b;
    position: absolute;
    bottom: -4px;
    transform: scaleX(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:hover::after,
  &:focus::after {
    transform: scaleX(1);
  }
}

.header-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  @include tablet {
    gap: 32px;
  }
  @include desktop {
    gap: 16px;
  }
}

.overlay {
  //   height: 216px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/header/library-header-mob.jpg');

  @include tablet {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/header/library-header-tab.jpg');
  }

  @include desktop {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/header/library-header-desk.jpg');
  }

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.current {
  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: #ff001b;
    position: absolute;
    bottom: -4px;
  }
}

.overlay-main {
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url('../images/header-main/hero-home-mob.jpg');

  @include tablet {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header-main/hero-home-tab.jpg');
  }

  @include desktop {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header-main/hero-home.jpg');
  }

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-form-input {
  position: relative;
  width: 280px;
  height: 20px;
  border-bottom: 0.5px solid #ffffff;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  background-color: transparent;
  @include tablet {
    width: 336px;
  }
  @include desktop {
    width: 394px;
  }
}

.header-form-input::placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  display: flex;
  align-items: center;
  color: #ffffff;
  margin-bottom: 4px;
}

.button-search {
  position: relative;
  width: 24px;
  height: 24px;
  // background: transparent;
  right: 24px;
}

.search-icon {
  position: absolute;
  // right: 0;
  top: 10px;
}
