.darktheme__button {
  position: relative;
  border: none;
  font-size: 20px;
  padding: 0;
  background-color: transparent;
  width: 30px;
  height: 30px;
  transition: transform var(--main-effect);

  &:hover {
    transform: rotate(-20deg) scale(1.2);
  }
  @media screen and (min-width: 768px) {
    font-size: 25px;
  }
}
.darkTheme {
  transition: background-color 500ms cubic-bezier(0.175, 0.82, 0.165, 1);
  color: #ffffff;
  background-color: rgba(22, 20, 20, 0.94);
  height: 100%;
  scroll-behavior: smooth;
}

.google-btn {
  width: 184px;
  height: 42px;
  background-color: #4285f4;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  .google-icon-wrapper {
    width: 38px;
    height: 38px;
    background-color: #fff;
    border-radius: 2px;
    margin-top: -11px;
    margin-left: -6px;
    position: absolute;
  }
  .google-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
  }

  .btn-text {
    display: block;
    float: right;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: 'Roboto';
    font-weight: 300;
  }
  @media screen and (max-width: 767px) {
    .btn-text {
      display: none;
    }
  }

  &:hover {
    box-shadow: 0 0 6px #4285f4;
  }
  &:active {
    background: #1669f2;
  }
}
@media screen and (max-width: 767px) {
  .google-btn {
    width: 0px;
    height: 0px;
    .google-icon-wrapper {
      margin-left: -26px;
    }
  }
}

.userInfo {
  position: absolute;
  right: 63px;
  top: 45px;
  font-size: 14px;
}
.auth_form {
  display: none;
}
